<?xml version="1.0"?>
<model>
  <name>down_cam</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Huseyin Sefa Kiris</name>
    <email>kiris.h.sefa@gmail.com</email>
  </author>
  <description>A fixed downward-facing camera model for the X500 Gazebo vehicle.</description>
</model>
