<?xml version="1.0"?>
<model>
  <name>x500_down_cam</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Huseyin Sefa Kiris</name>
    <email>kiris.h.sefa@gmail.com</email>
  </author>
  <description>An X500 with a fixed downward-facing camera sensor.</description>
</model>
